<div id="subscribe" class="uk-flex-top" uk-modal>
    <div class="paper-mail uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <form action="{{ site.mailchimp.post }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form-stacked uk-margin-top uk-margin-medium-bottom" target="_blank">
          <p id="progress-text"class="uk-text-center uk-margin-remove">
          50% Complete
          </p>
          <progress class="uk-progress first-progress" value="50" max="100"></progress>
          <progress class="uk-progress complete visuallyhidden" value="100" max="100"></progress>
          <p class="email-pitch">Join my private email list and get the latest posts delivered to you for free via email:</p>
            <div class="name-wrap">
              <label class="uk-form-label" for="mce-FNAME">First Name </label>
              <div class="uk-form-controls">
                <input type="text" value="" name="FNAME" class="uk-input uk-width-1-1" id="mce-FNAME" required>
              </div>
            </div>
            <div class="email-wrap">
              <label class="uk-form-label" for="mce-EMAIL">Email Address</label>
              <div class="uk-form-controls">
                <input type="email" value="" name="EMAIL" class="uk-input uk-width-1-1" id="mce-EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ site.mailchimp.hidden }}" tabindex="-1" value=""></div>


            <div class="mc-status uk-text-center"></div>
            <div class="uk-margin-top"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="uk-button uk-button-primary uk-width-1-1"></div>
            <p class="uk-margin-top small privacy-policy">
            {{ site.privacy-policy-lead }}
          </p>
          </form>

    </div>
</div>
