<div>
  <main class="uk-width-5-6@xl uk-child-width-1-3@xl" uk-grid>
    <div class="uk-width-2-3">
      <h1 class="">Your Vision. Your Way.</h1>
      <p>Need personalized wedding invitation design? Get the look you love. We pair your favorite illustrations with writing set in beautiful typography. You receive professional design files ready to print at home or through your selected print service.
      </p>
    </div>
    <div class="uk-width-1-3">

    </div>

    <div class="uk-width-1-2@l uk-width-1-1@m uk-width-1-1@s">
      <img src="" alt="" />
      <h2>Illustrations</h2>
      <p>Select your favorite vector illustrations, patterns, and design elements from <a>Freepik</a> to create your wedding look. Search for <a>lace</a>, <a>floral</a>, <a>art deco</a>, or <a>search your own keyword</a> to be inspired.*</p>
      <p class="small indent">*Images are licensed to Wedding Empress for creating personalized wedding invitations for individual customers (print-ready PDF files).</p>
    </div>
    <div class="uk-width-1-2@l uk-width-1-1@m uk-width-1-1@s">
      <img src="" alt="" />
      <h2>Production</h2>
      <p>Choose custom dimensions, request setup for custom diecut and more. Tell us what you need.</p>
    </div>
    <div class="uk-width-1-1  uk-text-center">
      <h2 class="uk-h1">Our Services</h2>
    </div>

    <div class="uk-width-1-2@l uk-width-1-1@m uk-width-1-1@s">
      <div class="product-highlight product-padding">
      <h3 class="uk-text-center uk-margin-remove">Wedding Invitation Set</h3>
      <hr class="uk-divider-small uk-text-center" />
            <button class="uk-align-center uk-button uk-button-primary"><sup>$</sup>75&ensp;Buy Now</button>
      <hr class="uk-divider-small uk-text-center " />
      <p>Your personalized wedding invitation set ready to print at home or via print service including:</p>
      <ul class="uk-list uk-list-divider">
        <li>Personalized save-the-date card.&ensp;<i class="far fa-file-pdf"></i></li>
        <li>Personalized wedding invitation.&ensp;<i class="far fa-file-pdf"></i></li>
        <li>Personalized RSVP card.&ensp;<i class="far fa-file-pdf"></i></li>
        <li>Personalized wedding details card.&ensp;<i class="far fa-file-pdf"></i></li>
        <li>Your chosen illustrations and design elements.</li>
        <li>Your writing set in beautiful typography.</li>
        <li>Any personalization choices including fonts, color-palettes, custom dimensions etc.</li>
        <li>Custom print-production file-setup for advanced features such as diecut, embossing, gold foil, etc.</li>
        <li>Unlimited file revisions.</li>
      </ul>
        </div>
    </div>
    <div class="uk-width-1-2@l uk-width-1-1@m uk-width-1-1@s">
      <div class="product-padding">
      <h3 class="uk-text-center uk-margin-remove">Save the Date</h3>
      <hr class="uk-divider-small uk-text-center" />
      <button class="uk-align-center uk-button uk-button-secondary"><sup>$</sup>50&ensp;Buy Now</button>
      <hr class="uk-divider-small uk-text-center" />
      <p>Your personalized save-the-date card ready to print at home or via print service including:</p>
      <ul class="uk-list uk-list-divider">
        <li>Personalized save-the-date card.&ensp;<i class="far fa-file-pdf"></i></li>
        <li>Your chosen illustrations and design elements.</li>
        <li>Your writing set in beautiful typography.</li>
        <li>Any personalization choices including fonts, color-palettes, custom dimensions etc.</li>
        <li>Custom print-production file-setup for advanced features such as diecut, embossing, gold foil, etc.</li>
        <li>Unlimited file revisions.</li>
      </ul>
    </div>
</div>
  </main>
</div>
