<div id="modal-close-inside" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2>How it Works:</h2>
        <ol class="uk-list-divider">
          <li>
            First, purchase your favorite placecard design.&ensp;
          </li>
          <li>
            Next, you will receive your editable PDF file via email. Download it to your computer (we recommend not editing in the browser). <a href="https://res.cloudinary.com/weddingempress/image/upload/v1520042501/sample-placecard.pdf" target="_blank" class="uk-button buy uk-button-small uk-button-default">
              View/Print a sample
            </a>
          </li>
          <li>
            Then, type in the names and table assignments. <br />Or purchase our &ensp;{% assign automate = site.categories.placecards | where: "title", "Automate" %}
            <a href="{{ site.url }}/wedding/placecards/automate-add-on/" class="uk-button buy uk-button-small uk-button-default">
                    Automate
            </a>&ensp;
             and The Empress will add your guests for you and send you the generated PDF files for you to print.
          </li>
          <li>
            Save and print the file(s).
          </li>
          <li>
            Use a ruler and exacto knife (or your favorite tool) to cut out the placecards.
          </li>
          <li>
            Repeat and enjoy!
          </li>
        </ol>
    </div>
</div>
