<div>
  <div class="uk-grid-large" uk-grid>
    <main class="uk-width-1-2@xl uk-width-1-1@l uk-width-1-1@m uk-width-1-1@s">
      <div class="paper main-paper">
        {% include main-content.html %}
      </div>
    </main>
    <aside class="uk-width-2-5@xl uk-width-1-3@l uk-visible@xl content uk-flex uk-flex-between uk-flex-column">
    {% unless page.right-aside-top == false %}
    {% include aside/right-aside.html %}
    {% endunless %}
  </aside>
    <div class="uk-width-1-2@xl uk-width-1-1@l uk-width-1-1@m uk-width-1-1@s uk-margin-remove">
      {% if page.is-post %}
      <div class="paper main-paper">
        {% unless page.cta == "" %}
        <p>{{ page.cta }}</p>
        {% endunless %}
        {% if page.lead-id %}
        {% include lead/lead-box.html %}
        {% endif %}
        <div class="uk-hidden@xl">
          {% include post-lists/related-posts.html %}
        </div>
        {% if page.comments == true %}
        {% include comments/list-of-comments.html %}
        {% endif %}
      </div>
      {% endif %}
    </div>
    <aside class="uk-width-2-5@xl uk-width-1-3@l uk-visible@xl content uk-margin-remove-top">
      <div style="z-index:80;" uk-sticky="bottom: true; offset: 150;">
      {% unless page.right-aside-bottom == false %}
      {% include aside/right-aside-bottom.html %}
      {% endunless %}
      </div>
    </aside>

</div>
</div>
