{% if paginator.total_pages > 1 %}
<li>
<ul class="pagination uk-pagination uk-flex-center" uk-margin>

     {% if paginator.previous_page %}
     <li class="previous">
         <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&larr; Newer Posts</a>
     </li>
     {% endif %}
     {% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected"{% endif %}>
        <a href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', ''}}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
  {% endfor %}
{% endif %}

     {% if paginator.next_page %}
     <li class="next">
         <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">Older Posts &rarr;</a>
     </li>
     {% endif %}

      <!-- {% if paginator.last_page %}
     <li class="previous">
         <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
     </li>
     {% endif %} -->
 </ul>
  </li>
 {% endif %}
