.uk-button {
  font-size: .85em;
  border-radius: 3px;
  font-family: $nav-font;
}

.buy {
  height: 32px;
}

// .related-posts .uk-button, main .uk-button {
//     background: none !important;
//     background-size: 0 !important;
//     text-shadow: none !important;
//     text-decoration: none !important;
// }
