.uk-comment-meta li {
  padding: 0 10px 0 0;
}

.uk-comment-meta {
  font-size: 1em;
  padding-left: 0 !important;
}

.child {
  margin-left: 5em;
}
.admin {
  background: #fff6ee;
  padding: 2em;
  margin-left: 2em;
  border-radius: 3px;
}

.uk-commment-body {
  position: relative;
    top: -20px;
}
