---
layout: default
---

<article class="post content" itemid="{{ site.url }}/{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
  <header class="post-header uk-text-center">
    {% include post-image.html %}
    <h1 class="uk-h1 uk-margin-medium-top uk-margin-remove-bottom" itemprop="name headline">{{ page.title | markdownify | markdownify | replace: '<p>', '' | replace: '</p>', '' | widont }}</h1>
    <hr class="uk-divider-small" />
  </header>
  <div class="post-content" itemprop="articleBody">
    <p class="uk-text-center price"><sup>$</sup>{{ page.product-price | remove: ".0" }}<sup>.00</sup>
    </p>
    {{ content }}
    {% unless page.title == "Automate Add On" %}
    <p>
      {% include general-placecard-product-info.html %}
    </p>
    {% endunless %}

    <div class="uk-text-center uk-margin-top">

      <button class="snipcart-add-item uk-button uk-button-secondary"
          data-item-id="{{ page.product-id }}"
          data-item-name="{{ page.title }}"
          data-item-price='{{ page.product-price}}'
          data-item-url="{{ site.url }}{{ page.url }}"
          data-item-file-guid="{{ page.product-download-id }}"
          data-item-description="{{ page.description}}">
              Add to Cart
      </button>
    </div>

  </div>
</article>
