<div class="full-width boundary-align uk-margin-large-bottom">
  <div class="uk-container uk-container-expand nav nav-transparent">
    <div class="uk-grid uk-grid-large">
      <div class="uk-width-1-5@xl uk-width-1-3@l uk-width-1-3@m uk-visible@m uk-text-right">
        <div class="uk-navbar-item logo-wrap">
          <a href="/"><img class="nav-logo"  src="https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_scale,w_142/v1514574376/{{ site.company.logo }}" alt="{{ site.company.name }} logo"/>
          </a>
        </div>

      </div>
      <div class="uk-width-4-5@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1">
        <nav class="uk-navbar-container uk-margin" uk-navbar>
          <h1 class="visuallyhidden">Main Navigation</h1>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-visible@m">
              <li class="uk-navbar-item"><a href="/meet-julie/">Meet Julie</a></li>
              <li class="uk-navbar-item"><a href="/blog/">Blog</a></li>
              <li class="uk-navbar-item"><a href="/services/">Services</a></li>
              <li class="uk-navbar-item"><a href="/class-schedule/">Class Schedule</a></li>
            </ul>
            <a class="uk-hidden@m" href="{{ site.url }}">
              <img class="nav-logo-mini"  src="https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/v1514574376/{{ site.company.logo }}" srcset="https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_scale,w_82/v1514574376/{{ site.company.logo }} 640w, https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/v1514574376/{{ site.company.logo }}" sizes="(min-width: 50rem) 50rem, 90vw" alt="{{ site.company.name }} logo" width="1100" height="732" />
            </a>
          </div>
          <div class="uk-navbar-right uk-navbar-right-short">
          <div class="uk-navbar-item call  uk-visible@xl">
                Get Started Today.
                Call {{ site.company.phone }}
              </div>
              {% include header/mobile-nav.html %}
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
