<div class="uk-offcanvas-content uk-hidden@m">
  <ul class="uk-subnav uk-subnav-divider" uk-margin>
    <li><a href="#bottom" uk-scroll class="to-bottom button-in-text uk-button uk-button-default uk-button-small" uk-icon="icon: arrow-down"></a></li>
    <li><span uk-icon="icon: menu" class="bar-menu uk-margin-bottom" uk-toggle="target: #offcanvas-nav-primary"></span></li>
</ul>

  <div id="offcanvas-nav-primary" uk-offcanvas>
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <ul class="uk-nav uk-margin-medium-top">
        <li class="uk-navbar-item"><a href="{{ site.url }}">Wedding Empress
      </a></li>
      <li class="uk-navbar-item"><a uk-toggle="target: #modal-close-inside" href="#">How it Works            </a></li>
      </ul>
      </ul>
    </div>
  </div>
</div>
